/* latin */
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(http://fonts.gstatic.com/s/pontanosans/v4/gTHiwyxi6S7iiHpqAoiE3Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(http://fonts.gstatic.com/s/notoserif/v4/Wreg0Be4tcFGM2t6VWytvHNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  font-family: 'Pontano Sans';
}
html {
  background-color: #8a98c8;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3 {
  text-transform: lowercase;
  font-family: 'Noto Serif';
  font-style: italic;
}
h1 {
  font-size: 35px;
  margin-top: 0;
}
h2 {
  font-size: 30px;
  margin-top: 0;
}
p {
  font-size: 17px;
  line-height: 23px;
}
.clearfix {
  clear: both;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(212, 119, 193, 0.75);
  font-size: 16px;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.overlay .overlay-inner {
  width: 100%;
  height: 100%;
  display: table;
}
.overlay .overlay-inner .caption {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Playfiar Display';
  font-style: italic;
  text-transform: lowercase;
  font-size: 25px;
  font-weight: bold;
}
.overlay:hover {
  opacity: 1;
}
header {
  position: relative;
  line-height: 0;
}
header img.bg {
  width: 100%;
}
header #logo-bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  -webkit-transition: top 500ms;
  -moz-transition: top 500ms;
  -ms-transition: top 500ms;
  -o-transition: top 500ms;
  transition: top 500ms;
  pointer-events: none;
}
header #logo-bg img {
  height: 172px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}
header #logo-bg.hidden {
  top: -225px;
}
#logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 250ms 750ms ease-in-out forwards;
}
#logo img {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-nav {
  width: 100%;
  height: 75px;
  margin-top: -75px;
  background-color: rgba(88, 88, 162, 0.9);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
.main-nav.hidden {
  display: none;
}
.main-nav.invisible {
  opacity: 0;
}
.main-nav.sticky-clone {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 1;
}
.main-nav.sticky-clone.stuck {
  display: block;
}
.main-nav .contact {
  width: 60px;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  position: absolute;
  z-index: 250;
}
.main-nav .contact img {
  height: 100%;
}
.main-nav #logo {
  height: 145px;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 100;
}
.main-nav #logo img {
  height: 100%;
}
.main-nav.project {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 100;
}
.main-nav.project #logo {
  text-align: center;
}
.main-nav.project #logo a {
  display: inline-block;
  pointer-events: all;
  width: 100%;
  height: 100%;
}
.main-nav.project #logo a img {
  width: auto;
  height: 100%;
}
.main-nav.project #logo-bg {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  pointer-events: none;
}
.main-nav.project #logo-bg img {
  height: 172px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}
#main {
  width: 100%;
  position: relative;
  font-size: 0;
  overflow-x: hidden;
}
#main.project {
  padding-top: 150px;
}
#main #projects {
  position: static;
  padding-top: 150px;
}
#main #projects .spacer {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#main #projects .project {
  width: 33.33333333333%;
  position: relative;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
#main #projects .project img {
  width: 100%;
  height: auto;
}
#main .floating-section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 45px;
  font-size: 16px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1a1d22;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
#main #images {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
#main #images .img {
  display: inline-block;
  width: 100%;
}
#main #images .img.portrait {
  width: 50%;
  float: left;
}
#main #images .img img {
  width: 100%;
}
#main #images .img-sub {
  display: inline-block;
  width: 50%;
  float: left;
}
#main #images .img-sub img {
  width: 100%;
}
#main #content {
  margin-top: 0;
}
#main #content .content-inner {
  max-width: 960px;
  min-height: 300px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}
#main #content .content-inner .content-left {
  width: 60%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 35px;
}
#main #content .content-inner .content-left .prints {
  width: 100%;
}
#main #content .content-inner .content-left .prints a {
  width: 45px;
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}
#main #content .content-inner .content-left .prints a img {
  width: 100%;
}
#main #content .content-inner .content-right {
  width: 40%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
#main #content .content-inner .content-right a {
  display: inline-block;
}
#main #content .content-inner .content-right a img {
  width: 100%;
}
#main #about {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 16px;
}
#main #about .about-inner {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}
#main #about .about-inner .about-inner-left {
  width: 25%;
  display: inline-block;
}
#main #about .about-inner .about-inner-left img {
  width: 100%;
}
#main #about .about-inner .about-inner-right {
  width: 75%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
#main #social {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  position: relative;
  font-size: 0px;
}
#main #social .social-post {
  width: 33.33333333333%;
  background-color: black;
  display: inline-block;
  position: relative;
}
#main #social .social-post img {
  width: 100%;
  height: auto;
}
#main footer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  color: #1a1d22;
}
#main footer a {
  text-decoration: none;
  display: inline-block;
  height: 60px;
  margin-right: 30px;
  margin-bottom: 50px;
}
#main footer a.last {
  margin-right: 0;
}
#main footer a img {
  height: 100%;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#background img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 580px) {
  header #logo-bg {
    display: none;
  }
  .main-nav {
    margin-top: 0;
  }
  .main-nav #logo {
    height: 75px;
  }
  .main-nav #logo-bg {
    display: none;
  }
  .main-nav.project #logo a {
    width: auto;
    display: inline;
  }
  .main-nav.project #logo a img {
    height: 75px;
    width: auto;
  }
  #main #projects .project {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  #main #projects .project .overlay {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    display: block;
    background-color: rgba(212, 119, 193, 0.75);
    position: relative;
  }
  #main #projects .project .overlay .overlay-inner .caption {
    font-size: 24px;
  }
  #main #content .content-inner {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
  }
  #main #content .content-inner .content-left {
    display: block;
    width: 100%;
    padding-right: 0;
  }
  #main #content .content-inner .content-right {
    width: 100%;
    padding-top: 15px;
    display: block;
  }
  #main #social {
    background-color: transparent;
    box-shadow: none;
  }
  #main #social .social-post {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  }
  #main #social .social-post img {
    display: block;
  }
  #main #social .social-post .overlay {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    display: block;
    background-color: rgba(212, 119, 193, 0.75);
    position: relative;
  }
  #main #social .social-post .overlay .overlay-inner .caption {
    font-size: 24px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi93b3Jrc3BhY2VzL2EtcG9ydGZvbGlvL3NyYy9kb2N1bWVudHMvc3R5bGVzL2dsb2JhbC5jc3MubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiO0FBQ0E7RUFDRSxhQUFhLGNBQWI7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsS0FBSyxNQUFNLGlCQUFpQixNQUFNLHlIQUF5SCxPQUFPLFFBQWxLO0VBQ0EsNElBQUE7OztBQUlGO0VBQ0UsYUFBYSxZQUFiO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLEtBQUssTUFBTSwyQkFBMkIsTUFBTSx3SEFBd0gsT0FBTyxRQUEzSztFQUNBLDRJQUFBOztBQUdGO0VBQ0MsYUFBYSxjQUFiOztBQUdEO0VBQ0MseUJBQUE7O0FBR0Q7QUFBTTtFQUNMLFNBQUE7RUFDQSxVQUFBO0VBQ0EsWUFBQTs7QUFHRDtBQUFJO0FBQUk7RUFDUCx5QkFBQTtFQUNBLGFBQWEsWUFBYjtFQUNBLGtCQUFBOztBQUdEO0VBQ0MsZUFBQTtFQUNBLGFBQUE7O0FBR0Q7RUFDQyxlQUFBO0VBQ0EsYUFBQTs7QUFHRDtFQUNDLGVBQUE7RUFDQSxpQkFBQTs7QUFHRDtFQUNDLFdBQUE7O0FBR0Q7RUFDQyxXQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxlQUFBO0VBQ0EsMkNBQUE7RUFDQSxlQUFBO0VBQ0EsWUFBQTtFQUNBLFVBQUE7RUFDQSxpQ0FBQTtFQUNBLDhCQUFBO0VBQ0EsNkJBQUE7RUFDQSw0QkFBQTtFQUNBLHlCQUFBOztBQWZELFFBZ0JDO0VBQ0MsV0FBQTtFQUNBLFlBQUE7RUFDQSxjQUFBOztBQW5CRixRQWdCQyxlQUlDO0VBQ0MsbUJBQUE7RUFDQSxzQkFBQTtFQUNBLGtCQUFBO0VBQ0EsYUFBYSxrQkFBYjtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7O0FBR0YsUUFBQztFQUNBLFVBQUE7O0FBSUY7RUFHQyxrQkFBQTtFQUdBLGNBQUE7O0FBTkQsTUFPQyxJQUFHO0VBQ0YsV0FBQTs7QUFSRixNQVVDO0VBQ0MsV0FBQTtFQUVBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFlBQUE7RUFDQSw2QkFBQTtFQUNBLDBCQUFBO0VBQ0EseUJBQUE7RUFDQSx3QkFBQTtFQUNBLHFCQUFBO0VBQ0Esb0JBQUE7O0FBdEJGLE1BVUMsU0FhQztFQUNDLGFBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFnQiw0Q0FBaEI7RUFDQSxhQUFhLDRDQUFiO0VBQ0EsWUFBWSw0Q0FBWjtFQUNBLFdBQVcsNENBQVg7RUFDQSxRQUFRLDRDQUFSOztBQUVELE1BeEJELFNBd0JFO0VBQ0EsV0FBQTs7QUFLSDtFQUNDLFdBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxNQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0VBQ0EsVUFBQTtFQUNBLGtEQUFBOztBQVJELEtBU0M7RUFDQyxVQUFBO0VBQ0EsWUFBQTtFQUVBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBOztBQUtGO0VBQ0MsV0FBQTtFQUNBLFlBQUE7RUFDQSxpQkFBQTtFQUNBLHdDQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLGdEQUFBOztBQUNBLFNBQUM7RUFDQSxhQUFBOztBQUVELFNBQUM7RUFDQSxVQUFBOztBQUVELFNBQUM7RUFDQSxlQUFBO0VBQ0EsYUFBQTtFQUNBLE1BQUE7RUFDQSxVQUFBOztBQUNBLFNBTEEsYUFLQztFQUNBLGNBQUE7O0FBcEJILFNBdUJDO0VBQ0MsV0FBQTtFQUNBLFlBQUE7RUFDQSxpQkFBQTtFQUNBLG9CQUFBO0VBQ0EsaUJBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTs7QUEvQkYsU0F1QkMsU0FTQztFQUNDLFlBQUE7O0FBakNILFNBb0NDO0VBQ0MsYUFBQTtFQUNBLFdBQUE7RUFDQSxNQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBOztBQXpDRixTQW9DQyxNQU1DO0VBQ0MsWUFBQTs7QUFHRixTQUFDO0VBQ0EsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxhQUFBO0VBQ0EsWUFBQTs7QUFORCxTQUFDLFFBT0E7RUFDQyxrQkFBQTs7QUFSRixTQUFDLFFBT0EsTUFFQztFQUNDLHFCQUFBO0VBQ0EsbUJBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTs7QUFiSCxTQUFDLFFBT0EsTUFFQyxFQUtDO0VBQ0MsV0FBQTtFQUNBLFlBQUE7O0FBaEJKLFNBQUMsUUFvQkE7RUFDQyxXQUFBO0VBRUEsZUFBQTtFQUNBLE1BQUE7RUFDQSxXQUFBO0VBQ0Esb0JBQUE7O0FBMUJGLFNBQUMsUUFvQkEsU0FPQztFQUNDLGFBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFnQiw0Q0FBaEI7RUFDQSxhQUFhLDRDQUFiO0VBQ0EsWUFBWSw0Q0FBWjtFQUNBLFdBQVcsNENBQVg7RUFDQSxRQUFRLDRDQUFSOztBQU1KO0VBQ0MsV0FBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBOztBQUNBLEtBQUM7RUFDQSxrQkFBQTs7QUFORixLQVFDO0VBQ0MsZ0JBQUE7RUFDQSxrQkFBQTs7QUFWRixLQVFDLFVBR0M7RUFDQyxXQUFBO0VBQ0EsV0FBQTtFQUNBLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxvQkFBQTs7QUFqQkgsS0FRQyxVQWNDO0VBQ0Msc0JBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EsU0FBQTtFQUNBLFNBQUE7RUFDQSxZQUFBO0VBQ0Esc0JBQUE7O0FBN0JILEtBUUMsVUFjQyxTQVFDO0VBQ0MsV0FBQTtFQUNBLFlBQUE7O0FBaENKLEtBb0NDO0VBQ0MsV0FBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSwwQ0FBQTtFQUNBLGNBQUE7RUFDQSxnREFBQTs7QUE1Q0YsS0E4Q0M7RUFDQyxnREFBQTs7QUEvQ0YsS0E4Q0MsUUFFQztFQUNDLHFCQUFBO0VBQ0EsV0FBQTs7QUFDQSxLQUxGLFFBRUMsS0FHRTtFQUNBLFVBQUE7RUFDQSxXQUFBOztBQXJESixLQThDQyxRQUVDLEtBT0M7RUFDQyxXQUFBOztBQXhESixLQThDQyxRQWFDO0VBQ0MscUJBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTs7QUE5REgsS0E4Q0MsUUFhQyxTQUlDO0VBQ0MsV0FBQTs7QUFoRUosS0FvRUM7RUFDQyxhQUFBOztBQXJFRixLQW9FQyxTQUVDO0VBQ0MsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLFdBQUE7RUFDQSxpQkFBQTtFQUNBLG9CQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7O0FBOUVILEtBb0VDLFNBRUMsZUFTQztFQUNDLFVBQUE7RUFDQSxlQUFBO0VBQ0EscUJBQUE7RUFDQSxtQkFBQTtFQUNBLHNCQUFBO0VBQ0EsbUJBQUE7O0FBckZKLEtBb0VDLFNBRUMsZUFTQyxjQU9DO0VBQ0MsV0FBQTs7QUF2RkwsS0FvRUMsU0FFQyxlQVNDLGNBT0MsUUFFQztFQUNDLFdBQUE7RUFDQSxxQkFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7O0FBNUZOLEtBb0VDLFNBRUMsZUFTQyxjQU9DLFFBRUMsRUFLQztFQUNDLFdBQUE7O0FBOUZQLEtBb0VDLFNBRUMsZUE2QkM7RUFDQyxVQUFBO0VBQ0EsZUFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJBQUE7O0FBdkdKLEtBb0VDLFNBRUMsZUE2QkMsZUFLQztFQUNDLHFCQUFBOztBQXpHTCxLQW9FQyxTQUVDLGVBNkJDLGVBS0MsRUFFQztFQUNDLFdBQUE7O0FBM0dOLEtBbUhDO0VBQ0MsV0FBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBOztBQXZIRixLQW1IQyxPQUtDO0VBQ0MsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7O0FBN0hILEtBbUhDLE9BS0MsYUFNQztFQUNDLFVBQUE7RUFDQSxxQkFBQTs7QUFoSUosS0FtSEMsT0FLQyxhQU1DLGtCQUdDO0VBQ0MsV0FBQTs7QUFsSUwsS0FtSEMsT0FLQyxhQWFDO0VBQ0MsVUFBQTtFQUNBLGVBQUE7RUFDQSxxQkFBQTtFQUNBLG1CQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBOztBQTVJSixLQWdKQztFQUNDLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBOztBQXJKRixLQWdKQyxRQU1DO0VBQ0Msc0JBQUE7RUFDQSx1QkFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7O0FBMUpILEtBZ0pDLFFBTUMsYUFLQztFQUNDLFdBQUE7RUFDQSxZQUFBOztBQTdKSixLQWlLQztFQUNDLFdBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTs7QUF2S0YsS0FpS0MsT0FPQztFQUNDLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTs7QUFDQSxLQWJGLE9BT0MsRUFNRTtFQUNBLGVBQUE7O0FBL0tKLEtBaUtDLE9BT0MsRUFTQztFQUNDLFlBQUE7O0FBTUo7RUFDQyxlQUFBO0VBQ0EsTUFBQTtFQUNBLE9BQUE7RUFDQSxTQUFBO0VBQ0EsUUFBQTtFQUNBLFdBQUE7O0FBTkQsV0FPQztFQUNDLFdBQUE7RUFDQSxZQUFBOztBQUlGLHdCQUEwQztFQUN6QyxNQUNDO0lBQ0MsYUFBQTs7RUFHRjtJQUNDLGFBQUE7O0VBREQsU0FFQztJQUNDLFlBQUE7O0VBSEYsU0FLQztJQUNDLGFBQUE7O0VBRUQsU0FBQyxRQUNBLE1BQ0M7SUFDQyxXQUFBO0lBQ0EsZUFBQTs7RUFKSCxTQUFDLFFBQ0EsTUFDQyxFQUdDO0lBQ0MsWUFBQTtJQUNBLFdBQUE7O0VBTUwsS0FDQyxVQUNDO0lBQ0MsV0FBQTtJQUNBLG1CQUFBO0lBQ0Esa0JBQUE7O0VBTEgsS0FDQyxVQUNDLFNBSUM7SUFDQyxXQUFBO0lBQ0EsWUFBQTtJQUNBLGlCQUFBO0lBQ0Esb0JBQUE7SUFDQSxVQUFBO0lBQ0EsY0FBQTtJQUNBLDJDQUFBO0lBQ0Esa0JBQUE7O0VBZEosS0FDQyxVQUNDLFNBSUMsU0FTQyxlQUNDO0lBQ0MsZUFBQTs7RUFqQk4sS0F1QkMsU0FDQztJQUNDLGtCQUFBO0lBQ0EsbUJBQUE7SUFDQSxzQkFBQTs7RUEzQkgsS0F1QkMsU0FDQyxlQUlDO0lBQ0MsY0FBQTtJQUNBLFdBQUE7SUFDQSxnQkFBQTs7RUEvQkosS0F1QkMsU0FDQyxlQVNDO0lBQ0MsV0FBQTtJQUNBLGlCQUFBO0lBQ0EsY0FBQTs7RUFwQ0osS0F3Q0M7SUFDQyw2QkFBQTtJQUNBLGdCQUFBOztFQTFDRixLQXdDQyxRQUdDO0lBQ0MsV0FBQTtJQUNBLG1CQUFBO0lBQ0Esa0JBQUE7SUFDQSxnREFBQTs7RUEvQ0gsS0F3Q0MsUUFHQyxhQUtDO0lBQ0MsY0FBQTs7RUFqREosS0F3Q0MsUUFHQyxhQVFDO0lBQ0MsV0FBQTtJQUNBLFlBQUE7SUFDQSxpQkFBQTtJQUNBLG9CQUFBO0lBQ0EsVUFBQTtJQUNBLGNBQUE7SUFDQSwyQ0FBQTtJQUNBLGtCQUFBOztFQTNESixLQXdDQyxRQUdDLGFBUUMsU0FTQyxlQUNDO0lBQ0MsZUFBQTs7O0FBU1A7RUFDQztJQUNDLFVBQUE7O0VBRUQ7SUFDQyxVQUFBIn0= */